In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('/train.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
data.drop(['PassengerId','Name','Ticket'],axis = 1,inplace = True)

In [ ]:
data['Sex']=data['Sex'].replace(['male','female'],[0,1])
data['Cabin']=data['Cabin'].isna()
data = pd.get_dummies(data)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    891 non-null    int64
 1   Pclass      891 non-null    int64
 2   Sex         891 non-null    int64
 3   Age         714 non-null    float64
 4   SibSp       891 non-null    int64
 5   Parch       891 non-null    int64
 6   Fare        891 non-null    float64
 7   Cabin       891 non-null    bool
 8   Embarked_C  891 non-null    uint8
 9   Embarked_Q  891 non-null    uint8
 10  Embarked_S  891 non-null    uint8
dtypes: bool(1), float64(2), int64(5), uint8(3)
memory usage: 52.3 KB

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [ ]:
model = RandomForestClassifier()
model = XGBClassifier()
y = data['Survived']
data.drop('Survived',axis = 1,inplace = True)
x = data

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=8)

In [ ]:
model.fit(x_train,y_train)
print(model.score(x_test,y_test))

0.8100558659217877

In [ ]:
from sklearn.metrics import confusion_matrix
yp = model.predict(x_test)
print('sur',sum(yp!=0))
print('Not sur',sum(yp==0))

sur 69
Not sur 110

In [ ]:
cm = confusion_matrix(y_test,yp)
cm

array([[92, 16],
       [18, 53]])